<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magestore_Company::company" title="Magestore Company" resource="Magestore_Company::company" module="Magestore_Company"  sortOrder="20"/>
        <add id="Magestore_Company::staff" title="Manage Staff" resource="Magestore_Company::staff" parent="Magestore_Company::company" action="companyadmin/staff" module="Magestore_Company" sortOrder="20"/>
    </menu>
</config>
